body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 2rem;
}
h2 {
    font-size: 100%;
    font-weight: bold;
    color: #333333;
    margin: 0.5rem 1rem;
}
.errormsg {
    color: red;
}
.button-container {
    display: flex;
}
.button-container button {
    display: block;
    text-align: center;
    min-width: 8rem;
    margin: 0 1rem;
    padding: 0.6rem;
    font-size: 90%;
    font-weight: bold;
    border: 3px solid #01aae1;
    color: #01aae1;
    background: #e9f9fe;
    border-radius: 2rem;
}
.button-container button:hover {
    color: #fff;
    background: #01aae1;
}
.button-container p {
    font-size: 60%;
    text-align: center;
    margin: 4px 0;
    color: #707070;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    font-size: 60%;
    color: #707070;
    border-top: 1px solid #909090;
}
footer a:hover {
    color: #000;
}